
.select {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.option {
  background: #FFFFFF;
  border: 1px solid #EDEEF2;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &_{
    background-color: #4E60FF;
    color: #CACFFF;
  }
}
