.input_container {
  background: #EDEEF2;
  border-radius: 12px;
  border: none;
  min-width: 224px;
  width: 100%;
  font-size: 14px;
  color: var(--neutral-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
}


.input {
  background: rgba(0, 0, 0, 0.0);
  border: none;
  width: 100%;
  font-size: 12px;
  color: #000000;
}

.input:active,
.input:focus {
  outline: none;
  caret-color: #000000;
}