
.container {
  margin: 20px;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;


  &_logo {
    width: 70px;
    height: 70px;
  }
  &_image {
    border: 1px solid var(--neutral-gray);
    border-radius: 16px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &_cost {
    width: 20%;
    font-weight: bold;
  }
}


.divider {
  display: block;
  margin: 10px 0;
  border: 1px solid #EDEEF2
}
