.button {
  height: 44px;
  width: 100%;
  padding: 12px;
  color: var(--error-default);
  border: 1px solid var(--error-default);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  &_disabled {
    background-color: var(--primary-thirty);
  }
}

.button:hover {
  cursor: pointer;
}
