.container {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  font-size: 12px;
  font-weight: 600;
  color: var(--neutral-gray);
  .icon {
    margin: 0 6px 0 0;
    color: var(--neutral-gray-light);
  }
  .point {
    height: 3px;
    width: 3px;
    background-color: var(--primary-default);
    border-radius: 50%;
    margin: 0 8px;
  }
}
